<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- 1. Main Entity Interface Preference -->
    <preference for="Codilar\BookingEnquiry\Api\Data\BookingEnquiryInterface"
                type="Codilar\BookingEnquiry\Model\BookingEnquiry"/>

    <!-- 2. Repository Preference -->
    <preference for="Codilar\BookingEnquiry\Api\BookingEnquiryRepositoryInterface"
                type="Codilar\BookingEnquiry\Model\BookingEnquiryRepository"/>

    <!-- 3. Request DTO Preference -->
    <preference for="Codilar\BookingEnquiry\Api\Data\RequestItemInterface"
                type="Codilar\BookingEnquiry\Model\Api\RequestItem"/>

    <!-- 4. Base Response DTO Preference (POST / PUT / DELETE) -->
    <preference for="Codilar\BookingEnquiry\Api\Data\ResponseItemInterface"
                type="Codilar\BookingEnquiry\Model\Api\ResponseItem"/>

    <!-- 5. Extended Response DTO Preference (GET with Data Payload) -->
    <preference for="Codilar\BookingEnquiry\Api\Data\ResponseGetDataItemInterface"
                type="Codilar\BookingEnquiry\Model\Api\ResponseGetDataItem"/>

    <virtualType name="Codilar\BookingEnquiry\Model\ResourceModel\BookingEnquiry\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">booking_enquiry</argument>
            <argument name="resourceModel" xsi:type="string">
                <!--                Codilar\Faq\Model\ResourceModel\Faq-->
                Codilar\BookingEnquiry\Model\ResourceModel\BookingEnquiry

            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="codilar_bookingenquiry_enquiry_listing_data_source" xsi:type="string">
                    <!--                    Codilar\Faq\Model\ResourceModel\Faq\Grid\Collection-->
                    Codilar\BookingEnquiry\Model\ResourceModel\BookingEnquiry\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
