<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codilar\BookingEnquiry\Api\Data\BookingEnquiryInterface"
                type="Codilar\BookingEnquiry\Model\BookingEnquiry"/>
    <preference for="Codilar\BookingEnquiry\Api\BookingEnquiryRepositoryInterface"
                type="Codilar\BookingEnquiry\Model\BookingEnquiryRepository"/>
</config>
