<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codilar\InstockMail\Api\Data\StockAlertInterface"
                type="Codilar\InstockMail\Model\StockAlert" />
    <preference for="Codilar\InstockMail\Api\StockAlertRepositoryInterface"
                type="Codilar\InstockMail\Model\StockAlertRepository" />
</config>
